@model  IEnumerable<SkillTree_Homework1.Models.ViewModels.MoneyViewModel>
@using System.Web.Mvc;
@{
    Layout = null;
}
@*使用單頁面的helper fuction - 檢查支出或收入*@
@helper checkcategory(int i){
    if (i == 0)
    {
            @Html.Label("支出", new { @style = "color:red" })
    }
    else if (i == 1)
    {
            @Html.Label("收入", new { @style = "color:blue" })
    }
}
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remark)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td >
            @checkcategory(item.category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.money)元
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>
    </tr>
}

</table>
